html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  position: absolute;
  left:0;
  top:0;
  z-index:0;
}
h1{
  font-family:Helvetica, Arial, sans-serif;
  position:absoute;
  z-indez:9999;
  top:20px;
  left:20px;
}
